div(ng-controller='ProjectSynController')
    .widget-container.fluid-height
    .heading
        i.fa.fa-exclamation-circle
        span(translate) 
    .widget-content.padded
         div(ng-class="{progress: true, 'progress-striped': vm.striped}")
            div(ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}")
                div(ng-if="vm.showLabel") {{vm.value}}%
        button(type="button" ng-click="synProjects()") SynProjects
    .widget-content.padded
         div(ng-class="{progress: true, 'progress-striped': vm.striped}")
            div(ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}")
                div(ng-if="vm.showLabel") {{vm2.value}}%
        button(type="button" ng-click="synUsers()") SynUsers   