.login2(ng-controller='SuccessCreateAccountController')
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/logo/exports/STF-512.png', title='STF')
    p(name="sd") Success Create Account

    input.btn.btn-lg.btn-primary.btn-block(onclick="location.href='/auth/mock/'" , value='Login')
