div(ng-controller='UsersTabController')
    uib-tabset.overflow-auto.device-list-active-tabs(ng-if='activeTabs' )
        uib-tab(active='activeTabs.users', select='focusSearch()')
            uib-tab-heading
                i.fa.fa-th-large
                span(translate) 用户
            div.selectable
                users-info(filter='filter')
        uib-tab(active='activeTabs.group', select='focusSearch()')
            uib-tab-heading
                i.fa.fa-th-large
                span(translate) 用户组
            div.selectable
                users-group(filter='filter')
