.login2(ng-controller='ModifyPasswordController')
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/logo/exports/STF-512.png', title='STF')

    form(name='signin', novalidate, ng-submit='submit()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) Check errors below,,
        span(ng-show='error.$incorrect', translate) Incorrect login details,,
        span(ng-show='error.$server', translate) Server error. Check log output.,,

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='modify_password.username', name='username', required, type='text', placeholder='Name',
          autocorrect='off', autocapitalize='off', spellcheck='false',disabled,
         autocomplete='section-login username')
        
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(ng-model='modify_password.email', name='email', required, type='email', placeholder='E-mail',disabled,
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login email')
        
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-key.fa-fw
          input.form-control(ng-model='password', name='password', required, type='password', placeholder='',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='modify_password.password.$dirty && modify_password.password.$invalid')
          span(translate) Please enter password

      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Change Password')
