.widget-container.device-stats
  .more-filter-control.more-filter-hide.div-right(ng-click='hideShowStats()')
    a.more-arrow.more-arrow-top
    i 显示更多
  .col-xs-3(ng-show='showStats')
    .number.color-blue
      .icon.fa.fa-globe.visitors
      span(class='counter', data-type='total') 0
    .text(translate) Total Devices
  .col-xs-3(ng-show='showStats')
    .number.color-green
      .icon.fa.fa-check.visitors
      span(class='counter', data-type='usable') 0
    .text(translate) Usable Devices
  .col-xs-3(ng-show='showStats')
    .number.color-pink
      .icon.fa.fa-users.visitors
      span(class='counter', data-type='busy') 0
    .text(translate) Busy Devices
  .col-xs-3(ng-show='showStats')
    .number.color-orange
      .icon.fa.fa-user.visitors(ng-class='{"fa-trophy": $root.adminMode, "fa-user": !$root.adminMode}')
      span(class='counter', data-type='using') 0
    .text(ng-bind='currentUser.name')
  br(style='clear:both')
.hr-line-dashed.filter-line
.widget-container.device-statics(ng-show='showStats')
  .col-md-3.packery-item
    div
      canvas#manufacturer
  .col-md-3.packery-item
    div
      canvas#sdkversion
  .col-md-3.packery-item
    div
      canvas#screensize
  .col-md-3.packery-item
    div
      canvas#platform
  br(style='clear:both')

.widget-container.device-statics.filter
  .hr-line-dashed.filter-line
  dl.clearfix
    dt 手机品牌： 
    dd.filterOff(ng-repeat="ii in manufacturerData.data.labels", ng-click='clickFilter("manufacturer",ii,$event)') {{ii}}
  dl.clearfix
    dt 系统版本： 
    dd.filterOff(ng-repeat="jj in versionData.data.labels", ng-click='clickFilter("version",jj,$event)') {{jj}}
  dl.clearfix
    dt 分辨率： 
    dd.filterOff(ng-repeat="kk in screensizeData.data.labels", ng-click='clickFilter("display",kk,$event)') {{kk}}
  dl.clearfix
    dt 平台类型： 
    dd.filterOff(ng-repeat="ll in platformData.data.labels", ng-click='clickFilter("platform",ll,$event)') {{ll}}