.floadleft{
    float: left;
}
.QueryWidth{
    width: 150px
}
.btnWidth{
    width: 100px
}
.QueryHeight{
    height: 30px;
}
.btnHeight{
    height: 30px;
}
.rowhover:hover{
    background-color:#bbb
}
.name-width{
    min-width: 120px;
}
.title-info{
    height: 30px;
    margin: 5px;
    font-style: inherit;
}
.reset-btn{
    margin: 5px
}
.name-info {
    margin: 5px;
    margin-left: 20px
}