

div(ng-controller='DeviceGroupsController')
    .widget-content.padded
        .row
            .col-md-4
                input.floatleft.QueryHeight.form-control(type="text" ng-model="deviceGroupFilter" ng-keyup="QueryDeviceGroup()")
                table.blackbackground.table.dataTable.ng-table(ng-table="tableParamsGroup")
                    thead
                        th.header.sortable(ng-repeat='(k,v) in tableParamsGroup.data[0] track by $index')
                            div(ng-bind='k | translate' ng-style="{width: HeadWidth(k)}")
                    tr.rowhover(ng-repeat="row in tableParamsGroup.data" ng-click="SelectGroup(row)")
                        td(ng-repeat="(kk,vv) in row")
                            span(ng-if="kk != 'selected'") {{vv}}    
                            input(type="checkbox" ng-if="kk == 'selected'" disabled ng-model="vv")    
                    tr  
                        td(colspan="100") 
                            table.fill-parent-width(ng-init="sel=10") 
                                tr 
                                    td
                                        div.floatleft
                                            button.wid30px(ng-disabled="params.parameters().page<=1" ng-click="params.page(1)") <<
                                        div.floatleft
                                            button.wid30px(ng-disabled="params.parameters().page<=1" ng-click="params.page(params.parameters().page-1)") <
                                        div.floatleft
                                            button.wid30px(ng-disabled=" pagesGroupCount <= (params.parameters().page )" ng-click="params.page(params.parameters().page+1)") >
                                        div.floatleft
                                            button.wid30px(ng-disabled=" pagesGroupCount <= (params.parameters().page )" ng-click="params.page(pagesGroupCount)") >>
                                    td
                                        span.msgwidth 
                                        | Totals: {{params.total()}}  
                                    td
                                        span.msgwidth  
                                        | Pages: {{params.parameters().page}} / {{pagesGroupCount}}
                                    td(colspan="0")
                                        div.btn-group(uib-dropdown).floatright
                                            button.btn.btn-sm.btn-primary-outline(type='button', uib-dropdown-toggle)
                                                span {{params.parameters().count}}
                                                span(ng-bind='">>"|translate')
                                            ul.uib-dropdown-menu(role='menu')
                                                li(ng-repeat='ceil in params.settings().counts track by $index',
                                                ng-hide='!adminMode && columnDefinitions[column.name].admin')
                                                    button(ng-click='params.count(ceil);sel=ceil').btn.btn-xs
                                                        i.fa.fa-circle-thin
                                                        span(ng-bind='ceil | translate') 
                button.btn-width(ng-click="AddNewDeviceGroup()") 
                    i.fa.fa-user-plus
                    span 增加
                //- button.btn-width(ng-click="ModifyDeviceGroup()") 
                //-     i.fa.fa-wrench
                //-     span 修改
                button.btn-width(ng-click="DeleteDeviceGroup()") 
                    i.fa.fa-user-times
                    span 删除
                                                            
            .col-md-4(ng-show="showUserGroup")
                Div.device-group-title-info
                    button.align-left.btn-width(ng-click="switchShow()")
                        i.fa.fa-mobile-phone
                        span 切换到设备列表
                    strong.align-middle 用户组列表
                    button.align-right.btn-width(ng-click="AddUserGroupsToDeviceGroup()")
                        i.fa.fa-user-plus
                        span 增加
                    button.align-right.btn-width(ng-click="RemoveUserGroupsFromDeviceGroup()")
                        i.fa.fa-user-times
                        span 删除
                table.blackbackground.table.dataTable.ng-table(ng-table="tableParamsCustom")
                    thead
                        th.header.sortable(ng-repeat='(k,v) in tableParamsCustom.data[0] track by $index')
                            div(ng-bind='k | translate' ng-style="{width: HeadWidth(k)}")
                    tr.rowhover(ng-repeat="row in tableParamsCustom.data")
                        td(ng-repeat="(kk,vv) in row" ng-click="RowClick(row)")
                            span(ng-if="kk != 'selected'") {{vv}}    
                            input(type="checkbox" ng-if="kk == 'selected'"  disabled  ng-model="vv") 
            .col-md-4(ng-show="showUserGroup")
                input.floatleft.QueryHeight.form-control(type="text" ng-model="userGroupFilter" ng-keyup="FreshUser()")
                table.blackbackground.table.dataTable.ng-table(ng-table="tableParamsUserGroups")
                    thead
                        th.header.sortable(ng-repeat='(k,v) in tableParamsUserGroups.data[0] track by $index' ng-if="k!='userslist' && k!= 'id'")
                            div(ng-bind='k | translate' ng-style="{width: HeadWidth(k)}")
                    tr.rowhover(ng-repeat="row in tableParamsUserGroups.data" ng-click="SelectUser(row)")
                        td(ng-repeat="(kk,vv) in row" ng-if="kk!='userslist' && kk!= 'id' ")
                            span(ng-if="kk != 'selected'") {{vv}}    
                            input(type="checkbox" ng-if="kk == 'selected'" disabled ng-model="vv")    
                    tr  
                        td(colspan="100") 
                            table.fill-parent-width(ng-init="sel2=15") 
                                tr 
                                    td
                                        div.floatleft
                                            button.wid30px(ng-disabled="params.parameters().page<=1" ng-click="params.page(1)") <<
                                        div.floatleft
                                            button.wid30px(ng-disabled="params.parameters().page<=1" ng-click="params.page(params.parameters().page-1)") <
                                        div.floatleft
                                            button.wid30px(ng-disabled=" pagesUserCount <= (params.parameters().page )" ng-click="params.page(params.parameters().page+1)") >
                                        div.floatleft
                                            button.wid30px(ng-disabled=" pagesUserCount <= (params.parameters().page )" ng-click="params.page(pagesUserCount)") >>
                                    td
                                        span.msgwidth 
                                        | Totals: {{params.total()}}  
                                    td
                                        span.msgwidth  
                                        | Pages: {{params.parameters().page}} / {{pagesUserCount}}
                                    td(colspan="0")
                                        div.btn-group(uib-dropdown).floatright
                                            button.btn.btn-sm.btn-primary-outline(type='button', uib-dropdown-toggle)
                                                span {{params.parameters().count}}
                                                span(ng-bind='">>"|translate')
                                            ul.uib-dropdown-menu(role='menu')
                                                li(ng-repeat='ceil in params.settings().counts track by $index',
                                                ng-hide='!adminMode && columnDefinitions[column.name].admin')
                                                    button(ng-click='params.count(ceil);sel2=ceil').btn.btn-xs
                                                        i.fa.fa-circle-thin
                                                        span(ng-bind='ceil | translate') 
            
            .col-md-4(ng-show="!showUserGroup")
                Div.device-group-title-info
                    button.align-left.btn-width(ng-click="switchShow()")
                        i.fa.fa-user
                        span 切换到用户组列表
                    strong.align-middle 设备列表
                    button.align-right.btn-width(ng-click="AddDevicesToDeviceGroup()")
                        i.fa.fa-user-plus
                        span 增加
                    button.align-right.btn-width(ng-click="RemoveDevicesFromDeviceGroup()")
                        i.fa.fa-user-times
                        span 删除
                table.blackbackground.table.dataTable.ng-table(ng-table="tableParamsCustomDevices")
                    thead
                        th.header.sortable(ng-repeat='(k,v) in tableParamsCustomDevices.data[0] track by $index')
                            div(ng-bind='k | translate' ng-style="{width: HeadWidth(k)}")
                    tr.rowhover(ng-repeat="row in tableParamsCustomDevices.data")
                        td(ng-repeat="(kk,vv) in row" ng-click="RowClick(row)")
                            span(ng-if="kk != 'selected'") {{vv}}    
                            input(type="checkbox" ng-if="kk == 'selected'"  disabled  ng-model="vv") 
            .col-md-4(ng-show="!showUserGroup")
                input.floatleft.QueryHeight.form-control(type="text" ng-model="deviceFilter" ng-keyup="FreshDevice()")
                table.blackbackground.table.dataTable.ng-table(ng-table="tableParamsDevices")
                    thead
                        th.header.sortable(ng-repeat='(k,v) in tableParamsDevices.data[0] track by $index' ng-if="k!='userslist' && k!= 'id'")
                            div(ng-bind='k | translate' ng-style="{width: HeadWidth(k)}")
                    tr.rowhover(ng-repeat="row in tableParamsDevices.data" ng-click="SelectUser(row)")
                        td(ng-repeat="(kk,vv) in row" ng-if="kk!='userslist' && kk!= 'id' ")
                            span(ng-if="kk != 'selected'") {{vv}}    
                            input(type="checkbox" ng-if="kk == 'selected'" disabled ng-model="vv")    
                    tr  
                        td(colspan="100") 
                            table.fill-parent-width(ng-init="sel2=15") 
                                tr 
                                    td
                                        div.floatleft
                                            button.wid30px(ng-disabled="params.parameters().page<=1" ng-click="params.page(1)") <<
                                        div.floatleft
                                            button.wid30px(ng-disabled="params.parameters().page<=1" ng-click="params.page(params.parameters().page-1)") <
                                        div.floatleft
                                            button.wid30px(ng-disabled=" pagesDeviceCount <= (params.parameters().page )" ng-click="params.page(params.parameters().page+1)") >
                                        div.floatleft
                                            button.wid30px(ng-disabled=" pagesDeviceCount <= (params.parameters().page )" ng-click="params.page(pagesDeviceCount)") >>
                                    td
                                        span.msgwidth 
                                        | Totals: {{params.total()}}  
                                    td
                                        span.msgwidth  
                                        | Pages: {{params.parameters().page}} / {{pagesDeviceCount}}
                                    td(colspan="0")
                                        div.btn-group(uib-dropdown).floatright
                                            button.btn.btn-sm.btn-primary-outline(type='button', uib-dropdown-toggle)
                                                span {{params.parameters().count}}
                                                span(ng-bind='">>"|translate')
                                            ul.uib-dropdown-menu(role='menu')
                                                li(ng-repeat='ceil in params.settings().counts track by $index',
                                                ng-hide='!adminMode && columnDefinitions[column.name].admin')
                                                    button(ng-click='params.count(ceil);sel2=ceil').btn.btn-xs
                                                        i.fa.fa-circle-thin
                                                        span(ng-bind='ceil | translate') 







