

div(ng-controller='DeviceGroupsController')
    .widget-content.padded
        button.reset-btn(ng-click="getAllGroups()") 获取所有设备组
        button.reset-btn(ng-click="addGroup()") 添加设备组
        button.reset-btn(ng-click="getAllDevices()") 获取所有设备





